fastapi
uvicorn
langchain
langchain-community
langchain-core
langchain-postgres
psycopg2-binary
pgvector
python-dotenv
pypdf
python-multipart
sqlalchemy
pydantic
requests
sentence-transformers
langchain-huggingface
oauthlib
PyJWT
transformers
accelerate
safetensors
bitsandbytes>=0.46.1
